body.chat {
    margin: 0;
}

.channel-active {
    background-color: rgba(0, 0, 0, 0.2);
}

.channel-active a,
.channel-active a:hover {
    color: #fff;
}

#add-private {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#add-private img {
    width: 22%;
} 

#section-profile img, #section-profile p {
    display: inline-block;
}