@import 'framework/vars.scss';

// Common
body.chat {
    margin: 0;
    overflow: hidden;
}


// Section
#section-left , #section-center , #section-users {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.01);
}

#section-left , #section-users {
    background-color: #87677B;
    
    ul li {
        color: #000;
        cursor: pointer;
    
        &:hover {
            color: #fff;
        }
    }

    .channel-active {
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
        margin-right: 15%;
        text-align: center;

        a, a:hover {
            color: #fff;
        }
    }
}
#section-center {
    background-color: #9A7AA0;
}



// Private
#section-private #add-private {
    position: absolute;
    bottom: 10px;
    left: 10px;

    .add {
        font-size: 0;
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;

        &::before {
            font-size: 35px;
            color: #fff;
        }
    }
    img {
        width: 22%;
        cursor: pointer;
    }
}


// Chat
#section-chat {

    li {
        color: #000;
        background-color: rgba(0,0,0,0.1);
        margin-right: 15%;
    }

    #chat-avatar img {
        float: left;
        width: 5%;
        margin: 0;
        margin-right: 2%;
    }

    #chat-user {
        font-size: 16px;
    }
    #chat-time {
        font-size: 12px;
    }
    #chat-message {
        font-size: 16px;
    }
} 

 


// Profile
#section-profile img, #section-profile p {
    display: inline-block;
}



// Users
#section-users {
    overflow-y: scroll;
}