@import 'framework/vars.scss';
// Common
body.chat {
    margin: 0;
}

.channel-active {
    background-color: rgba(0, 0, 0, 0.2);
}

.channel-active a,
.channel-active a:hover {
    color: #fff;
}


// Private
#section-private #add-private {
    position: absolute;
    bottom: 10px;
    left: 10px;

    .add {
        font-size: 0;
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;

        &::before {
            font-size: 35px;
            color: $primary-color;
        }
    }

}


// Chat
#section-chat li {
    background-color: rgba(0,0,0,0.1);
}
#section-chat #chat-avatar img {
    float: left;
    width: 5%;
    margin: 0;
    margin-right: 2%;
}

#section-chat #chat-user {
    font-size: 16px;
}
#section-chat #chat-time {
    font-size: 12px;
}
#section-chat #chat-message {
    font-size: 16px;
}


// Profile
#section-profile img, #section-profile p {
    display: inline-block;
}