{% extends 'main.php' %}

{% block bodyClass %}chat{% endblock %}

{% block content %}

    <section id="section-channels" class="section column-20 row-100">
        <div id="section-general" class="row-50">
            <h3>Channels</h3>
            <div id="listChannels">
                <template v-if="channels.length > 0 && !error">
                    <ul >
                        <li v-for="channel in channels">
                            ${ channel.name }
                            <a href="?action=chat&type=direct&id=3">{{channel.name}}</a>
                        </li>
                    </ul>
                </template>
                <span class="loading" v-else-if="!error">Loading...</span>
                <span class="error" v-else="error">${ error }</span>
            </div>
        </div>
        <div id="section-private" class="row-50">
            <h3>Private</h3>
            <div id="listPrivates">
                <template v-if="privates.length > 0 && !error">
                    <ul >
                        <li v-for="private in privates">
                            ${ private.content }
                        </li>
                    </ul>
                </template>
                <span class="loading" v-else-if="!error">Loading...</span>
                <span class="error" v-else="error">${error}</span>
            </div>
        </div>
    </section>

    <section id="section-chat" class="section column-60 row-100">
        <div id="section-top" class="row-10">
            {% if type == 'channel' %}
                <h2>Titre de la channel</h2>
            {% elseif type == 'private' %}
                <h2>Private</h2>
            {% elseif type == 'direct' %}
                <h2>Direct message</h2>
            {% endif %}
        </div>

        <div id="section-conversation" class="row-80">
            <div id="listMessages">
                <template v-if="messages.length > 0 && !error">
                    <ul >
                        <li v-for="message in messages">
                            ${ message.content }
                        </li>
                    </ul>
                </template>
                <span class="loading" v-else-if="!error">Loading...</span>
                <span class="error" v-else="error">${error}</span>
            </div>
        </div>

        <div id="section-input" class="row-10">
            <form action="#">
                <input type="text" name="send-message" id="send-message">
                <button type="submit" class="send">Send</button>
            </form>
        </div>
    </section>

    <section id="section-users" class="section column-18 row-100">
        <h3>Users</h3>
        <div id="listUsers">
            <template v-if="users.length > 0 && !error">
                <ul >
                    <li v-for="user in users">
                        ${ user.avatar }
                        <a href="?action=chat&type=direct&id=3">{{user.avatar}}</a>
                    </li>
                </ul>
            </template>
            <span class="loading" v-else-if="!error">Loading...</span>
            <span class="error" v-else="error">${error}</span>
        </div>
    </section>
{% endblock %}