{% extends 'main.php' %}

{% block bodyClass %}chat{% endblock %}

{% block content %}

    <section id="section-channels" class="section column-20 row-100">
        <div id="section-general" class="row-50">
            <h3>Channels</h3>
            <div id="listChannels">
                <ul>
                    <li><a href="?action=chat&type=channel&id=1"> Channel 1</a></li>
                    <li>Channel 2</li>
                    <li>Channel 3</li>
                    <li>Channel 4</li>
                </ul>
            </div>
        </div>
        <div id="section-private" class="row-50">
            <h3>Private</h3>
            <div id="listPrivate">
                <ul>
                    <li><a href="?action=chat&type=private&id=2"> Channel private 1</a></li>
                    <li>Channel private 2</li>
                    <li>Channel private 3</li>
                    <li>Channel private 4</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="section-chat" class="section column-60 row-100">
        <div id="section-top" class="row-10">
            {% if type == 'channel' %}
                <h2>Titre de la channel</h2>
            {% elseif type == 'private' %}
                <h2>Private</h2>
            {% elseif type == 'direct' %}
                <h2>Direct message</h2>
            {% endif %}
        </div>

        <div id="section-conversation" class="row-80">
            <div id="listMessages">
                <ul>
                    <li>Message 1</li>
                    <li>Message 2</li>
                    <li>Message 3</li>
                    <li>Message 4</li>
                </ul>
            </div>
        </div>

        <div id="section-input" class="row-10">
            <form action="#">
                <input type="text" name="send-message" id="send-message">
                <button type="submit" class="send">Send</button>
            </form>
        </div>
    </section>

    <section id="section-users" class="section column-18 row-100">
        <h3>Users</h3>
        <div id="listUsers">
            <ul>
                --{{users}}
                <li v-for="user in users">
                    coucou {{user}} coucoc
                    <a href="?action=chat&type=direct&id=3">{{user.avatar}}</a>
                </li>
            </ul>
        </div>
    </section>


    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
        /*var listMessages = new Vue({
            // My div elsement
            el: '#listMessages',
            data: {
                // The messages
                messages: [
                    { id_message: 1, id_channel: 1, timestamp: "2017-12-12 18:43:34", id_user: 1, content: "toto" }
                ]
            }
        })*/

        /*var listChannels = new Vue({
            // My div elsement
            el: '#listChannels',
            data: {
                // The messages
                channels: [
                    { id_channel: 1 , id_type: 1 , position: 5, name: "Channel name", description: "Channel description", user_id: 1 },
                    { id_channel: 1 , id_type: 1 , position: 5, name: "Channel name", description: "Channel description", user_id: 1 }
                ]
            }
        })*/

        /*var listPrivate = new Vue({
            // My div elsement
            el: '#listPrivate',
            data: {
                // The messages
                channels: [
                    { id_channel: 1 , id_type: 1 , position: 5, name: "Channel name", description: "Channel description", user_id: 1 },
                    { id_channel: 1 , id_type: 1 , position: 5, name: "Channel name", description: "Channel description", user_id: 1 }
                ]
            }
        })*/

        /*var listUsersInChannels = new Vue({
            // My div elsement
            el: '#listUsersInChannels',
            data: {
                // The messages
                users: [
                    { id_relation: , id_user: , id_channel:  }
                ]
            }
        })*/
    </script>
{% endblock %}