{% extends 'main.php' %}

{% block title %}Let's chat!{% endblock %}

{% block bodyClass %}chat{% endblock %}

{% block content %}
<input id="selectedChannel" type="hidden">

<section id="section-left" class="section column-20 row-100">
    <!-- General channels list -->
    <div id="section-general" class="row-50 border-bottom">
        <h3>Channels</h3>
        <div id="listChannels">
            <template v-if="channels.length > 0 && !error">
                <ul class="type-none">
                    <li  v-bind:class="{ 'channel-active': channel.id_channel === selected }" v-for="channel in channels" @click.prevent="selectChan(channel.id_channel)" v-if="channel.id_type == 1">
                        <span class="notification" v-if="channel.notification">${channel.notification}</span>
                        ${ channel.name }
                    </li>
                </ul>
            </template>

            <span class="loading" v-else-if="!error">Loading...</span>
            <span class="error" v-else="error">${ error }</span>
        </div>
    </div>
    <!-- Private channels list -->
    <div id="section-private" class="row-50 border-top">
        <h3>Private</h3>

        <div id="listPrivates">
            <template v-if="privates.length > 0 && !error">
                <ul class="type-none">
                    <li v-for="private in privates" v-bind:class="{ 'channel-active': private.id_channel === selected }" @click.prevent="selectChan(private.id_channel)" > ${ private.name }</li>
                </ul>
            </template>

            <span class="loading" v-else-if="!error">Loading...</span>
            <span class="error" v-else="error">${error}</span>

            <!-- Add private channel -->
            <div id="add-private" >
                <button class="add icon icon-plus" @click="showModal = true">plus</button>
                <modal v-if="showModal" :show="showModal" :title="title" :description="description" @close="closeModal()" @create="createNewChan()"></modal>
            </div>
        </div>
    </div>
</section>

<section id="section-center" class="section column-60 row-100">
    <!-- LOADER -->
    <div id="mainLoader"></div>
    <!-- Channel title / Channel users -->
    <div id="section-top" class="row-10 border-bottom">
        <div class="loaderChan" v-if="!title">
            <img src="assets/images/harmony_logo.png" alt="harmony_logo">
            <h1>Harmony</h1>
            <p>Let's chat with your friends!</p>
            <p>Choose a channel!</p>
            <p>Have fun! Enjoy!</p>
        </div>
        <h2>${ title }</h2>
    </div>

    <!-- Chat -->
    <div id="section-chat" class="row-80 border-top border-bottom">
        <div id="listMessages">
            <template v-if="messages.length > 0 && !error">
                <ul class="type-none">
                    <li v-for="message in messages">
                        <p id="chat-avatar">
                            <img v-if="message.avatar" :src="message.avatar" alt="profile" class="img-mini radius" />
                            <img v-if="!message.avatar" src="assets/images/avatar_default.jpg" alt="profile" class="img-mini radius" />
                        </p>
                        <p><span id="chat-user">${ message.username }</span> <span id="chat-time">${ message.timestamp }</span></p>
                        <p id="chat-message">${ message.content }</p>
                    </li>
                </ul>
            </template>

            <span class="loading" v-else-if="!error">Loading...</span>
            <span class="error" v-else="error">${error}</span>
        </div>
    </div>
    <!-- Text input message -->
    <div id="section-input" class="row-10 border-top">
        <div class="form-group" >
            <input type="text" name="send-message" id="send-message" class="form-input" placeholder="Enter your message" v-on:keyup.enter="send()" v-model="message">
            <button class="send btn btn-sm btn-default simplebutton newAccButton" @click.prevent="send()" >Send</button>
        </div>
    </div>
</section>

<!-- Users list -->
<section id="section-right" class="section column-20 row-100">

    <!-- User profil -->
    <div id="section-profile" class="row-10 border-bottom">
        <img v-if="user.avatar" :src="user.avatar" alt="user" class="img-mini radius">
        <img v-if="!user.avatar" src="assets/images/avatar_default.jpg" alt="user" class="img-mini radius">
        <p>${user.username}</p>
        <button class="add icon icon-profile" @click="showModal = true">profile</button>
    </div>

    <!-- Users -->
    <div id="section-users" class="row-90 border-top">

        <!-- Friends -->
        <h3>Users</h3>
        <div id="listUsers">
            <template v-if="users.length > 0 && !error">
                <ul class="type-none">
                    <li v-for="user in users">
                        <img v-if="user.avatar" :src="user.avatar" alt="user" class="img-mini radius" />
                        <img v-if="!user.avatar" src="assets/images/avatar_default.jpg" alt="user" class="img-mini radius" />
                        <span>${ user.username }</span>
                        <span v-if="user.battletag">#${ user.battletag }</span>
                        <div class="btn-action">
                            <button class="icon icon-message" @click.prevent="sendMessage(channel.id_channel)">message</button>
                            <button v-if="!user.friend && !user.invite" class="icon icon-friend" @click.prevent="sendInvite(user.id_user)">friend</button>
                            <button v-if="user.invite == 'received'" @click.prevent="acceptInvite(user.id_user)" class="icon icon-accept" >accept</button>
                            <button v-if="user.invite == 'received'" @click.prevent="refuseInvite(user.id_user)" class="icon icon-refuse" >refuse</button>
                        </div>
                    </li>
                </ul>
            </template>

            <span class="loading" v-else-if="!error">Loading...</span>
            <span class="error" v-else="error">${error}</span>
        </div>
    </section>


    <template id="modal-create">
      <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header">
                            <h2 class="h5">Create a new private Channel</h2>
                        </slot>
                        <button class="modal-close-button icon icon-close" @click="internalShow=false">
                            close
                        </button>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            <div class="form-group">
                                <label class="form-label" for="nameChan">Name</label>
                                <input class="form-input" type="text" id="nameChan" placeholder="Name" v-model="internalTitle">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="description">Description</label>
                                <textarea class="form-input" id="description" v-model="internalDesc" placeholder="Description" rows="3"></textarea>
                            </div>

                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer" >
                            <button class="btn btn-primary" :disabled="internalTitle==''" @click="$emit('create')">create</button>
                            <button class="btn btn-default" @click="internalShow=false">Cancel</button>
                        </slot>
                    </div>
                </div>
                <div class="closeModal" @click="internalShow=false"></div>
            </div>
        </div>
    </transition>
</template>

{% endblock %}