{% extends 'main.php' %}

{% block title %}Let's chat!{% endblock %}

{% block bodyClass %}chat{% endblock %}

{% block content %}

    <section id="section-left" class="section column-20 row-100">
        <div id="section-general" class="row-50 border-bottom">
            <h3>Channels</h3>
            <div id="listChannels">
                <template v-if="channels.length > 0 && !error">
                    <ul class="type-none">
                        <li  {% if type == 'channel' or (type == 'channel' and id == 1) %}class="channel-active"{% endif %} v-for="channel in channels">
                            <a href="?action=chat&type=direct&id=${ channel.id_channel }">${ channel.name }</a>
                        </li>
                    </ul>
                </template>
                <span class="loading" v-else-if="!error">Loading...</span>
                <span class="error" v-else="error">${ error }</span>
            </div>
        </div>
        <div id="section-private" class="row-50 border-top">
            <h3>Private</h3>
            <div id="listPrivates">
                <template v-if="privates.length > 0 && !error">
                    <ul class="type-none">
                        <li  {% if type == 'private' and id == 2 %}class="channel-active"{% endif %} v-for="private in privates">
                                <a href="?action=chat&type=private&id=${ private.id_channel}">${ private.content }</a>
                        </li>
                    </ul>
                </template>
                <span class="loading" v-else-if="!error">Loading...</span>
                <span class="error" v-else="error">${error}</span>
            </div>
            <div id="add-private">
                <img src="assets/images/plus.svg" alt="plus">
            </div>
        </div>
    </section>

    <section id="section-center" class="section column-60 row-100">
        <div id="section-top" class="row-10 border-bottom">
            {% if type == 'channel' %}
                <h2>Titre de la channel</h2>
            {% elseif type == 'private' %}
                <h2>Private</h2>
            {% elseif type == 'direct' %}
                <h2>Direct message</h2>
            {% endif %}
        </div>
        
        <div id="section-chat" class="row-80 border-top border-bottom">
            <div id="listMessages">
                <template v-if="messages.length > 0 && !error">
                    <ul class="type-none">
                        <li v-for="message in messages">
                            ${ message.content }
                        </li>
                    </ul>
                </template>
                <span class="loading" v-else-if="!error">Loading...</span>
                <span class="error" v-else="error">${error}</span>
            </div>
        </div>

        <div id="section-input" class="row-10 border-top">
            <form action="#" class="horizontal">
                <input type="text" name="send-message" id="send-message" class="column-50" placeholder="Enter your message">
                <input type="submit" class="send" value="Send">
            </form>
        </div>
    </section>

    <section id="section-users" class="section column-19 row-100">
        <div id="section-profile" class="row-10 border-bottom">
            <img src="assets/images/user-img.png" alt="user" class="img-mini radius">
            <p>My profile</p>
            <img src="assets/images/profile.svg" alt="profile" class="img-mini">
        </div>

        <div id="section-users" class="row-90 border-top"></div>
            <h3>Users</h3>
            <div id="listUsers">
                <template v-if="users.length > 0 && !error">
                    <ul class="type-none">
                        <li {% if type == 'direct' and id == 3 %}class="channel-active"{% endif %} v-for="user in users">                   
                            <a href="?action=chat&type=direct&id=3"><img src="${ user.avatar }" alt="user" class="img-mini radius">${ user.name }</a>
                        </li>
                    </ul>
                </template>
                <span class="loading" v-else-if="!error">Loading...</span>
                <span class="error" v-else="error">${error}</span>
            </div>
        </div>
    </section>
{% endblock %}