{% extends 'main.php' %}

{% block title %}Welcome to Harmony!{% endblock %}

{% block bodyClass %}home page-template signin{% endblock %}

{% block content %}


<div id="signin">
    <div class="container">
        <span class="form-input-hint" v-if='globalError != false'>${globalError}</span>
        <div class="formHolder signup" v-if="current == 'signup'">
            <h3>Sign Up</h3>
            <div class="form-group">
                <input class="form-input" type="text" id="signupName" placeholder="Username" v-model="name">
            </div>

            <div class="form-group">
                <input class="form-input" type="text" id="signupEmail" placeholder="Email" v-model="email">
            </div>

            <div class="form-group">
                <input class="form-input" type="number" min="0" max="9999" id="battletag" placeholder="Battletag" v-model="battletag">
            </div>

            <div class="form-group">
                <input type="password" class="form-input" id="signupPassword" placeholder="Password" v-model="password">
            </div>

            <div class="form-group">

                <input type="password" class="form-input" id="confirmPassword" placeholder="Confirm password" v-model="confirmPassword">
                <span class="form-input-hint" v-if='errorConfirmPassword'>Passwords do not match!</span>
            </div>

            <div class="form-group">
                <input type="file" name="avatar" id="avatar">
            </div>

            <button type="submit" id="signupButton" class="btn btn-sm btn-default simplebutton newAccButton" :class="{'loading':loading}" :disabled=" name == '' || password == '' || confirmPassword == '' " @click.prevent="newAccount()" >Sign Up</button>
            <button class="btn btn-sm btn-link loginButton" id="showLogin" @click="toggle('login')" >Already have an account?</button>

        </div>
        <div class="formHolder login" v-if="current == 'login'">

            <h3>Login</h3>

            <div class="form-group">
                <input class="form-input" type="text" id="name" placeholder="Username, Email" v-model="name">
            </div>

            <div class="form-group">
                <input type="password" class="form-input" id="password" placeholder="Password" v-model="password">
            </div>

            <button type="submit" id="loginButton" class="btn btn-sm btn-default simplebutton loginButton" :class="{'loading':loading}" :disabled=" name == '' || password == '' " @click.prevent="login()">Login</button><button type="submit" class="btn btn-sm btn-link newAccButton" id="showSignUp" @click="toggle('signup')">Don't have an account?</button>

        </div>

    </div>
</div>


{% endblock %}