body.chat {
    margin: 0;
}

.channel-active {
    background-color: rgba(0, 0, 0, 0.2);
}

.channel-active a,
.channel-active a:hover {
    color: #fff;
}

#section-private #add-private {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#section-private #add-private img {
    width: 22%;
}

#section-chat li {
    background-color: rgba(0, 0, 0, 0.1);
}

#section-chat #chat-avatar img {
    float: left;
    width: 5%;
    margin: 0;
    margin-right: 2%;
}

#section-chat #chat-user {
    font-size: 16px;
}

#section-chat #chat-time {
    font-size: 12px;
}

#section-chat #chat-message {
    font-size: 16px;
}

#section-profile img, #section-profile p {
    display: inline-block;
}

@font-face {
    font-family: 'Questrial Regular';
  src: url("../fonts/Questrial-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
    box-sizing: border-box;
    font: 16px sans-serif;
    font-family: 'Questrial Regular', sans-serif;
    color: #000;
    overflow: hidden;
}

body.page-template {
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: 2% auto;
}

.column-1 {
    width: 1vw;
}

.column-2 {
    width: 2vw;
}

.column-3 {
    width: 3vw;
}

.column-4 {
    width: 4vw;
}

.column-5 {
    width: 5vw;
}

.column-6 {
    width: 6vw;
}

.column-7 {
    width: 7vw;
}

.column-8 {
    width: 8vw;
}

.column-9 {
    width: 9vw;
}

.column-10 {
    width: 10vw;
}

.column-11 {
    width: 11vw;
}

.column-12 {
    width: 12vw;
}

.column-13 {
    width: 13vw;
}

.column-14 {
    width: 14vw;
}

.column-15 {
    width: 15vw;
}

.column-16 {
    width: 16vw;
}

.column-17 {
    width: 17vw;
}

.column-18 {
    width: 18vw;
}

.column-19 {
    width: 19vw;
}

.column-20 {
    width: 20vw;
}

.column-21 {
    width: 21vw;
}

.column-22 {
    width: 22vw;
}

.column-23 {
    width: 23vw;
}

.column-24 {
    width: 24vw;
}

.column-25 {
    width: 25vw;
}

.column-26 {
    width: 26vw;
}

.column-27 {
    width: 27vw;
}

.column-28 {
    width: 28vw;
}

.column-29 {
    width: 29vw;
}

.column-30 {
    width: 30vw;
}

.column-31 {
    width: 31vw;
}

.column-32 {
    width: 32vw;
}

.column-33 {
    width: 33vw;
}

.column-34 {
    width: 34vw;
}

.column-35 {
    width: 35vw;
}

.column-36 {
    width: 36vw;
}

.column-37 {
    width: 37vw;
}

.column-38 {
    width: 38vw;
}

.column-39 {
    width: 39vw;
}

.column-40 {
    width: 40vw;
}

.column-41 {
    width: 41vw;
}

.column-42 {
    width: 42vw;
}

.column-43 {
    width: 43vw;
}

.column-44 {
    width: 44vw;
}

.column-45 {
    width: 45vw;
}

.column-46 {
    width: 46vw;
}

.column-47 {
    width: 47vw;
}

.column-48 {
    width: 48vw;
}

.column-49 {
    width: 49vw;
}

.column-50 {
    width: 50vw;
}

.column-51 {
    width: 51vw;
}

.column-52 {
    width: 52vw;
}

.column-53 {
    width: 53vw;
}

.column-54 {
    width: 54vw;
}

.column-55 {
    width: 55vw;
}

.column-56 {
    width: 56vw;
}

.column-57 {
    width: 57vw;
}

.column-58 {
    width: 58vw;
}

.column-59 {
    width: 59vw;
}

.column-60 {
    width: 60vw;
}

.column-61 {
    width: 61vw;
}

.column-62 {
    width: 62vw;
}

.column-63 {
    width: 63vw;
}

.column-64 {
    width: 64vw;
}

.column-65 {
    width: 65vw;
}

.column-66 {
    width: 66vw;
}

.column-67 {
    width: 67vw;
}

.column-68 {
    width: 68vw;
}

.column-69 {
    width: 69vw;
}

.column-70 {
    width: 70vw;
}

.column-71 {
    width: 71vw;
}

.column-72 {
    width: 72vw;
}

.column-73 {
    width: 73vw;
}

.column-74 {
    width: 74vw;
}

.column-75 {
    width: 75vw;
}

.column-76 {
    width: 76vw;
}

.column-77 {
    width: 77vw;
}

.column-78 {
    width: 78vw;
}

.column-79 {
    width: 79vw;
}

.column-80 {
    width: 80vw;
}

.column-81 {
    width: 81vw;
}

.column-82 {
    width: 82vw;
}

.column-83 {
    width: 83vw;
}

.column-84 {
    width: 84vw;
}

.column-85 {
    width: 85vw;
}

.column-86 {
    width: 86vw;
}

.column-87 {
    width: 87vw;
}

.column-88 {
    width: 88vw;
}

.column-89 {
    width: 89vw;
}

.column-90 {
    width: 90vw;
}

.column-91 {
    width: 91vw;
}

.column-92 {
    width: 92vw;
}

.column-93 {
    width: 93vw;
}

.column-94 {
    width: 94vw;
}

.column-95 {
    width: 95vw;
}

.column-96 {
    width: 96vw;
}

.column-97 {
    width: 97vw;
}

.column-98 {
    width: 98vw;
}

.column-99 {
    width: 99vw;
}

.column-100 {
    width: 100vw;
}

.row-1 {
    height: 1vh;
}

.row-2 {
    height: 2vh;
}

.row-3 {
    height: 3vh;
}

.row-4 {
    height: 4vh;
}

.row-5 {
    height: 5vh;
}

.row-6 {
    height: 6vh;
}

.row-7 {
    height: 7vh;
}

.row-8 {
    height: 8vh;
}

.row-9 {
    height: 9vh;
}

.row-10 {
    height: 10vh;
}

.row-11 {
    height: 11vh;
}

.row-12 {
    height: 12vh;
}

.row-13 {
    height: 13vh;
}

.row-14 {
    height: 14vh;
}

.row-15 {
    height: 15vh;
}

.row-16 {
    height: 16vh;
}

.row-17 {
    height: 17vh;
}

.row-18 {
    height: 18vh;
}

.row-19 {
    height: 19vh;
}

.row-20 {
    height: 20vh;
}

.row-21 {
    height: 21vh;
}

.row-22 {
    height: 22vh;
}

.row-23 {
    height: 23vh;
}

.row-24 {
    height: 24vh;
}

.row-25 {
    height: 25vh;
}

.row-26 {
    height: 26vh;
}

.row-27 {
    height: 27vh;
}

.row-28 {
    height: 28vh;
}

.row-29 {
    height: 29vh;
}

.row-30 {
    height: 30vh;
}

.row-31 {
    height: 31vh;
}

.row-32 {
    height: 32vh;
}

.row-33 {
    height: 33vh;
}

.row-34 {
    height: 34vh;
}

.row-35 {
    height: 35vh;
}

.row-36 {
    height: 36vh;
}

.row-37 {
    height: 37vh;
}

.row-38 {
    height: 38vh;
}

.row-39 {
    height: 39vh;
}

.row-40 {
    height: 40vh;
}

.row-41 {
    height: 41vh;
}

.row-42 {
    height: 42vh;
}

.row-43 {
    height: 43vh;
}

.row-44 {
    height: 44vh;
}

.row-45 {
    height: 45vh;
}

.row-46 {
    height: 46vh;
}

.row-47 {
    height: 47vh;
}

.row-48 {
    height: 48vh;
}

.row-49 {
    height: 49vh;
}

.row-50 {
    height: 50vh;
}

.row-51 {
    height: 51vh;
}

.row-52 {
    height: 52vh;
}

.row-53 {
    height: 53vh;
}

.row-54 {
    height: 54vh;
}

.row-55 {
    height: 55vh;
}

.row-56 {
    height: 56vh;
}

.row-57 {
    height: 57vh;
}

.row-58 {
    height: 58vh;
}

.row-59 {
    height: 59vh;
}

.row-60 {
    height: 60vh;
}

.row-61 {
    height: 61vh;
}

.row-62 {
    height: 62vh;
}

.row-63 {
    height: 63vh;
}

.row-64 {
    height: 64vh;
}

.row-65 {
    height: 65vh;
}

.row-66 {
    height: 66vh;
}

.row-67 {
    height: 67vh;
}

.row-68 {
    height: 68vh;
}

.row-69 {
    height: 69vh;
}

.row-70 {
    height: 70vh;
}

.row-71 {
    height: 71vh;
}

.row-72 {
    height: 72vh;
}

.row-73 {
    height: 73vh;
}

.row-74 {
    height: 74vh;
}

.row-75 {
    height: 75vh;
}

.row-76 {
    height: 76vh;
}

.row-77 {
    height: 77vh;
}

.row-78 {
    height: 78vh;
}

.row-79 {
    height: 79vh;
}

.row-80 {
    height: 80vh;
}

.row-81 {
    height: 81vh;
}

.row-82 {
    height: 82vh;
}

.row-83 {
    height: 83vh;
}

.row-84 {
    height: 84vh;
}

.row-85 {
    height: 85vh;
}

.row-86 {
    height: 86vh;
}

.row-87 {
    height: 87vh;
}

.row-88 {
    height: 88vh;
}

.row-89 {
    height: 89vh;
}

.row-90 {
    height: 90vh;
}

.row-91 {
    height: 91vh;
}

.row-92 {
    height: 92vh;
}

.row-93 {
    height: 93vh;
}

.row-94 {
    height: 94vh;
}

.row-95 {
    height: 95vh;
}

.row-96 {
    height: 96vh;
}

.row-97 {
    height: 97vh;
}

.row-98 {
    height: 98vh;
}

.row-99 {
    height: 99vh;
}

.row-100 {
    height: 100vh;
}

.section {
    float: left;
    border: 1px solid #000;
    position: relative;
}

.border-top {
    border-top: 1px solid #000;
}

.border-bottom {
    border-bottom: 1px solid #000;
}

.border-right {
    border-right: 1px solid #000;
}

.border-left {
    border-left: 1px solid #000;
}

form.horizontal,
form.horizontal input {
    display: inline-block;
}

form.vertical,
form.vertical input {
    display: block;
}

form.vertical input {
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}

form.vertical input[type='text'], form.vertical input[type='password'] {
    padding: 5px 15px;
    width: 50%;
}

input[type='submit'] {
    padding: 7px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    font-family: 'Questrial Regular', sans-serif;
    font-size: 15px;
}

input::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: 'Questrial Regular', sans-serif;
}

input::-moz-placeholder {
    text-transform: uppercase;
    font-family: 'Questrial Regular', sans-serif;
}

input:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: 'Questrial Regular', sans-serif;
}

input:-moz-placeholder {
    text-transform: uppercase;
    font-family: 'Questrial Regular', sans-serif;
}

img {
    vertical-align: middle;
    margin: 4px;
}

img.img-mini {
    width: 15%;
}

img.picto-mini {
    width: 8%;
}

img.radius {
    border-radius: 50%;
}

a,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    color: #000;
}

ul {
    padding-right: 10px;
}

ul li {
    padding: 10px;
}

ul.type-none li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 36px;
    font-weight: bolder;
}

h2 {
    font-size: 30px;
    font-weight: bolder;
}

h3 {
    font-size: 26px;
    font-weight: bolder;
}

h4 {
    font-size: 23px;
    font-weight: bold;
}

h5 {
    font-size: 20px;
    font-weight: bold;
}

h6 {
    font-size: 18px;
    font-weight: normal;
}

p {
    line-height: 1em;
    font-size: 14px;
    font-weight: lighter;
    margin: 0;
}
