// Base
@font-face {
  font-family: 'Questrial Regular';
  src: url('../fonts/Questrial-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $html-font-size;
  line-height: $html-line-height;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: $body-bg;
  box-sizing: border-box;
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $font-size;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

body.page-template {
	max-width : 600px ;
  width : 100% ;
  height: 100%;
	text-align : center ;
	margin : 2% auto;
}







