@font-face {
	font-family: 'Questrial Regular';
	src: url('../fonts/Questrial-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	box-sizing: border-box;
	font: 16px sans-serif;
	font-family: 'Questrial Regular', sans-serif;
	color: #000;
	overflow: hidden;
}

body.page-template {
	max-width : 600px ;
	width : 100% ;
	text-align : center ;
	margin : 2% auto;
}