$class-column: column !default;
$unit-column: vw !default;

@for $i from 1 through 100 {
    .#{$class-column}-#{$i} {
        width: unquote("#{$i}#{$unit-column}");
        
    }
}

$class-row: row !default;
$unit-row: vh !default;

@for $i from 1 through 100 {
    .#{$class-row}-#{$i} {
        height: unquote("#{$i}#{$unit-row}");
    }
}

.section {
    float: left;
    border: 1px solid #000;
    position: relative;
}

.border-top {
    border-top: 1px solid #000;
}
.border-bottom {
    border-bottom: 1px solid #000;
}
.border-right {
    border-right: 1px solid #000;
}
.border-left {
    border-left: 1px solid #000;
}