form.horizontal,
form.horizontal input {
    display: inline-block;
}

form.vertical,
form.vertical input {
    display: block;
}

form.vertical input {
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;

    &[type='text'], &[type='password'] {
        padding: 5px 15px;
        width: 50%;
    }
}

input { 
    &[type='submit'] {
        padding: 7px 20px;
        border-radius: 5px;
        text-transform: uppercase;
        border: none;
        font-family: 'Questrial Regular', sans-serif;
        font-size: 15px;
    }

    &::-webkit-input-placeholder {
        text-transform: uppercase;
        font-family: 'Questrial Regular', sans-serif;
    }
    &::-moz-placeholder {
        text-transform: uppercase;
        font-family: 'Questrial Regular', sans-serif;
    }
    &:-ms-input-placeholder {
        text-transform: uppercase;
        font-family: 'Questrial Regular', sans-serif;
    }
    &:-moz-placeholder {
        text-transform: uppercase;
        font-family: 'Questrial Regular', sans-serif;
    }
}