h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 36px;
    font-weight: bolder;
} 
h2 {
    font-size: 30px;
    font-weight: bolder;
}

h3 {
    font-size: 26px;
    font-weight: bolder;
}

h4 {
    font-size: 23px;
    font-weight: bold;
} 

h5 {
    font-size: 20px;
    font-weight: bold;
} 

h6 {
    font-size: 18px;
    font-weight: normal;
}

p {
    line-height: 1em;
    font-size: 14px;
    font-weight: lighter;
}